*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-color: #e3cadb;
    width: 100%;
}

/* Header CSs */
.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #d294c894;
}

.header__list {
    display: flex;
    list-style: none;
    padding: 20px;
}
.header__list li{
    font-size: 20px;
    padding: 0 50px 0 0 ;
}
.header__list li a{
    text-decoration: none;
}
@media(max-width:900px){
    .header{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #d294c894;
    }
}
@media(max-width:800px){
    .header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #d294c894;
    }
    .header__list{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    .header__list li{
        font-size: 16px;
        padding: 0;
    }
}

/* Home Page Css */
.design-image{
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    grid-row-gap: 2px;
    padding: 5px; */
    /* width: 100px; */
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-content: space-around;
  /* height: 600px; */
}
.title{
    text-align: center;
    font-size: 40px;
}
.image-div{
    position: relative;
    width: 23%;
} 
.image-div__hover{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(37 99 105 / 75%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.image-div__hover:hover{
    opacity: 1;
}
@media (max-width:800px){
    .image-div{
        width: 95%;

    }
}

/* Construction Page Css */
.content{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
}

.content__image ,.content__para{
    width: 40%;
    margin: 10px;
}
.content-Right{
    display: flex; 
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
}

@media (max-width:800px){
    .content__image ,.content__para{
        width: 100%;
        margin: 10px;
    
    }
}
